@tailwind base;
@tailwind components;
@tailwind utilities;

$gold: #F2D024;

.helvetica {
    font-family: HelveticaNeue;
}

.aldrich {
    font-family: 'Aldrich', sans-serif;
}

.gothic-neo {
    font-family: Apple SD Gothic Neo;
}

.alternating-row {
    .row-item:nth-child(even) {
        background: rgba(19,19,19,0.30);
    }
}

.shadow-inner-dark {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.sidebar-icon {
    fill: $gold;
    color: $gold;
}