//

@tailwind base;
@tailwind components;
@tailwind utilities;

.helvetica {
    font-family: HelveticaNeue;
}

.gothic-neo {
    font-family: Apple SD Gothic Neo;
}

.gold {
    color: #F2D024;
}

.bg-dark-mode-lightest {
    background-color: #3d4852;
}

.bg-dark-mode {
    background-color: #212121;
}

.bg-dark-mode-light {
    background-color: #303030;
}

.bg-dark-mode-lighter {
    background-color: #424242;
}

.alternating-row {
    .row-item:nth-child(even) {
        background: #424242;
    }
}
